<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Recebidos</title>
</head>
<body>
    
    <h1>Dados Recebidos:</h1>





    <ul>
        <li>Sensor: {{ dados.sensor }}</li>
        <li>Botao: {{ dados.botao }}</li>
        <li>Liga Robo: {{ dados.liga_robo }}</li>
        <li>Reset Contador: {{ dados.reset_contador }}</li>
        <li>Valor Contagem: {{ dados.valor_contagem }}</li>
    </ul>
</body>
</html>
